@import "../../assets/styles/variables";

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  background-color: $mainBackColor;
  height: 100%;

  .main__list-chats {
    background: $colorLight;
    border-right: 1px solid $colorInfo;
    padding: $containerPadding;

    flex-grow: 1;
    //max-width: 25%;
    max-width: fit-content;
  }

  $heightRowMain: 50px;

  .main__wrapper-search, .main__wrapper-search {
    max-height: $heightRowMain;
  }

  .main__wrapper-listChats {
		max-height: calc(100vh - (50px * 2));
  }

  .main__list-chats_close {
    max-width: 15px;
  }

  .main__content {
    background: $colorPsheek;
    height: 100vh;

    flex-grow: 3;
  }
}
