<div class="auth popup">
    <form class="auth__form form">
        <p class="form__title">{{label}}</p>

        <label class="form__label" for="auth-email">Почта</label>
        {{> input id="auth-email" name="auth-email" classNames="form__input" type="email"  }}

        <label class="form__label" for="auth-login">Логин</label>
        {{> input id="auth-login"  name="auth-login" classNames="form__input" type="text"  minlength="2" }}

        <label class="form__label" for="auth-name">Имя</label>
        {{> input id="auth-name"  name="auth-name" classNames="form__input" type="text"  minlength="2" }}

         <label class="form__label" for="auth-surname">Фамилия</label>
        {{> input id="auth-surname"  name="auth-surname" classNames="form__input" type="text"  minlength="2" }}

        <label class="form__label" for="auth-phone">Телефон</label>
        {{> input id="auth-phone"  name="auth-phone" classNames="form__input" type="tel" required="required" }}


        <label class="form__label" for="auth-password">Пароль</label>
        {{> input id="auth-password"  name="auth-password" classNames="form__input" type="password"  minlength="2" }}

        <label class="form__label" for="auth-password-more">Пароль (еще раз)</label>
        {{> input id="auth-password-more"  name="auth-password-more" classNames="form__input" type="password"  minlength="2" }}
        <span class="form__error hidden">Пароли не совпадают</span>

        {{> button id="auth-submit" classNames="auth__submit" type="submit" label="Зарегистрироваться" }}
        <a class="form__link" href="/login">Войти</a>
    </form>
</div>