@import "../../assets/styles/variables";

.inputMessage {
	border-top: 1px solid $colorInfo;

	.inputMessage__form {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 100%;

		.inputMessage__attach-file-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;

			position: relative;
			min-width: 40px;
			min-height: 40px;

			.inputMessage__input-file {
				display: none;
			}

			label {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.inputMessage__input-file-icon {
				color: $colorInfo;
			}
		}

		.inputMessage__attach-file-wrapper:hover {
			cursor: pointer;
			background-color: $colorActive;
		}

		.inputMessage__input-message {
			flex-grow: 2;
			border-radius: $borderRadius;
			padding: 5px;
		}

		.inputMessage__button-submit {
			border: none;
			background-color: inherit;
		}

		.inputMessage__button-submit-icon {
			color: $colorInfo;
		}

		.inputMessage__button-submit:hover {
			cursor: pointer;
			background-color: $colorActive;
		}
	}
}
