@import '../../styles/variables';

.chat {
  max-height: 70px;
  border-top: 1px solid $colorInfo;

  position: relative;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  $sizeColSide: 47px;

  .chat__over-click {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,0);
  }

  .chat__avatar {
    max-width: $sizeColSide;
    flex-grow: 1;

    display: flex;
    align-items: center;

    .chat__avatar_image {
      width: $sizeColSide;
      height: $sizeColSide;
      border-radius: 50%;
      background-color: $colorInfo;
    }
  }

  .chat__user {
    margin: 0 10px;
    flex-grow: 2;

    .chat__user_name {
      margin: 0 0 5px;
    }

    .chat__user_last-message {
      margin: 0;
      color: $colorInfo;
      font-size: $fontXs;
    }
  }

  .chat__info-message {
    flex-grow: 0;
    min-width: $sizeColSide;

    text-align: center;

    .chat__info-message_time {
      margin: 0 auto;
      color: $colorInfo;
      font-size: $fontXs;
    }

    .chat__info-message_ofUnread {
      margin: 10px auto;
      width: 15px;
      height: 15px;
      line-height: 15px;

      border-radius: 50%;
      font-size: $fontXxs;
      color: $colorLight;
      text-align: center;
      background: blue;
    }
  }
}

.chat_active {
  background-color: $colorActive;
}