$colorPrimary: #007bff;
$colorSecondary: #6c757d;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorInfo: #17a2b8;
$colorLight: #f8f9fa;
$colorPsheek: #f8f9f2;
$colorActive: #e0ebfc;
$mainBackColor: #FBFBFB;

$fontXxs: 0.5em;
$fontXs: 0.7em;
$fontXl: 0.9em;
$fontMaim: 1em;

$borderRadius: 8px;

$containerPadding: 8px;

$boxShadow: 0px 0px 6px rgba(0, 0, 0, 0.14);;