@import '../../../assets/styles/variables';

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100%;

	.profile__data, .profile__change-password {
		min-width: 500px;
		
		.profile__button-save, .profile__button-save-password {
			width: 100%;
			margin-top: 30px;
		}
	}

	.profile__change-data, .profile__button-change-password, {
		min-width: 500px;
		color: $colorInfo;
	}

	.profile__change-data:hover, .profile__change-password:hover {
		cursor: pointer;
		color: $colorPrimary;
	}

	.profile__image:hover {
		cursor: pointer;
	}

	$sizeAvatar: 50px;
	$sizeChangeAvatar: 130px;
	$shiftChangeAvatar: calc((50px - 130px) / 2);

	.profile__wrapper-avatar {
		position: relative;
		width: $sizeAvatar;

		.profile__image {
			border-radius: 50%;
			width: $sizeAvatar;
			height: $sizeAvatar;
		}

		.profile__change-avatar {
			display: none;
			position: absolute;
			top: $shiftChangeAvatar;
			left: $shiftChangeAvatar;

			width: $sizeChangeAvatar;
			height: $sizeChangeAvatar;
			line-height: $sizeChangeAvatar;
			text-align: center;

			border-radius: 50%;
			background: $colorSecondary;
			opacity: 0.7;

			font-size: $fontXl;
			color: white;
		}
	}

	.profile__wrapper-avatar:hover .profile__change-avatar {
		display: block;
	}
}
